################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyMoney/.vs/MyMoney/FileContentIndex/1631525a-ce42-4fb7-9490-419e5f259ece.vsidx
/MyMoney/.vs/MyMoney/FileContentIndex/3551914f-e25d-40e8-9eeb-7e8613b4130f.vsidx
/MyMoney/.vs/MyMoney/FileContentIndex/ee995550-89e8-4fc1-bcc2-b19e5ed6f076.vsidx
/MyMoney/.vs/MyMoney/FileContentIndex/f9cb0fcd-bd61-4d37-b301-820c5114919d.vsidx
/MyMoney/.vs/MyMoney/FileContentIndex/052736b0-4aaa-447a-bc8f-a363ad29ab62.vsidx
/MyMoney/.vs/MyMoney/FileContentIndex/0a5a1690-3b05-4369-96a4-b641d90e28c1.vsidx
/MyMoney/.vs/MyMoney/FileContentIndex/3a82eb5a-6492-49c3-92f2-be0e12b94565.vsidx
/MyMoney/.vs/MyMoney/FileContentIndex/6ca04be6-73d2-4845-b455-5818ca002523.vsidx
/MyMoney/.vs/MyMoney/FileContentIndex/d215fda4-cc3d-4e41-a165-ada7d267ba48.vsidx
