################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyMoney/.vs/MyMoney/FileContentIndex/1631525a-ce42-4fb7-9490-419e5f259ece.vsidx
/MyMoney/.vs/MyMoney/FileContentIndex/3551914f-e25d-40e8-9eeb-7e8613b4130f.vsidx
/MyMoney/.vs/MyMoney/FileContentIndex/ee995550-89e8-4fc1-bcc2-b19e5ed6f076.vsidx
/MyMoney/.vs/MyMoney/FileContentIndex/f9cb0fcd-bd61-4d37-b301-820c5114919d.vsidx
